<div class="row black-glass">
	<div class="col s3 center">
		<%= image_tag 'avatars/av01', :class => 'circle responsive-img' %>
		<p><b><%= @user.username %></b></p>
	</div>
	<div class="col s6">
		<p>
			<span class="yText">Name:</span> <%=  @user.first_name %>&nbsp;<%= @user.last_name %><br>
			<span class="yText">Email:</span> <%= @user.email %><br>
			<span class="yText">User ID:</span> <%= @user.id%><br>
			<span class="yText">Record (W/L):</span> 

		</p>
		<% if @user.id == @current_user.id %>
		<%= link_to "Start Game", new_game_path, :class => "btn waves-affect deep-orange darken-4" %> &nbsp;
		<%= link_to "Edit Profile", edit_user_path, :class => "btn waves-affect deep-orange darken-4" %>
		<% end %>
	</div>
</div>

		
