
<div id="dim">
	<div class="game-over center">
		<%= image_tag 'hangman/go' %>
		<h2 class="you-win">You Win!</h2>
		<h2 class="mys-wrd"><%= @game.word %></h2>
		<h2 class="you-lose">You Lose</h2>
	</div>
</div>

<div class="row">
	<div class="col s6 offset-s3 center">
		<h3><%= @game.name %></h3>
	</div> 
</div>
<div class="row" style="margin-bottom:-5px">
	<div class="col s2 offset-s2">
		<h4 class="white-text center"><%= @first_user.username %></h4>
	</div>
	<div class="col s2 offset-s4">
		<h4 class="white-text center"><%= @second_user.username %></h4>
	</div>
</div>
<div class="row board-upper">

	<!-- player 1 -->
	<div class="col s2 offset-s2 gallow left-hm">
		<%= image_tag 'hangman/L/hangman0', :id => 'LP0', :class => 'left-player responsive-img' %>
		<%= image_tag 'hangman/L/hangman1', :id => 'LP1', :class => 'left-player responsive-img' %>
		<%= image_tag 'hangman/L/hangman2', :id => 'LP2', :class => 'left-player responsive-img' %>
		<%= image_tag 'hangman/L/hangman3', :id => 'LP3', :class => 'left-player responsive-img' %>
		<%= image_tag 'hangman/L/hangman4', :id => 'LP4', :class => 'left-player responsive-img' %>
		<%= image_tag 'hangman/L/hangman5', :id => 'LP5', :class => 'left-player responsive-img' %>
	</div>
	<!-- Center -->
	<div class="col s4">

		<!-- Letters -->
		<div class="row center">
			<div class="col s12">
				<div class="letter" data-letter="a"><p>A</p></div>
				<div class="letter" data-letter="b"><p>B</p></div>
				<div class="letter" data-letter="c"><p>C</p></div>
				<div class="letter" data-letter="d"><p>D</p></div>
				<div class="letter" data-letter="e"><p>E</p></div>
				<div class="letter" data-letter="f"><p>F</p></div>
				<div class="letter" data-letter="g"><p>G</p></div>
			</div>
		</div>
		<div class="row short center">
			<div class="col s12">
				<div class="letter" data-letter="h"><p>H</p></div>
				<div class="letter" data-letter="i"><p>I</p></div>
				<div class="letter" data-letter="j"><p>J</p></div>
				<div class="letter" data-letter="k"><p>K</p></div>
				<div class="letter" data-letter="l"><p>L</p></div>
				<div class="letter" data-letter="m"><p>M</p></div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 center">
				<div class="letter" data-letter="n"><p>N</p></div>
				<div class="letter" data-letter="o"><p>O</p></div>
				<div class="letter" data-letter="p"><p>P</p></div>
				<div class="letter" data-letter="q"><p>Q</p></div>
				<div class="letter" data-letter="r"><p>R</p></div>
				<div class="letter" data-letter="s"><p>S</p></div>
				<div class="letter" data-letter="t"><p>T</p></div>
			</div>
		</div>
		<div class="row short center">
			<div class="col s12">
				<div class="letter" data-letter="u"><p>U</p></div>
				<div class="letter" data-letter="v"><p>V</p></div>
				<div class="letter" data-letter="w"><p>W</p></div>
				<div class="letter" data-letter="x"><p>X</p></div>
				<div class="letter" data-letter="y"><p>Y</p></div>
				<div class="letter" data-letter="z"><p>Z</p></div>
			</div>
		</div>
	</div>

	<!-- player 2 -->
	<div class="col s2 gallow right-hm">
		<%= image_tag 'hangman/R/hangman0', :id => 'RP0', :class => 'right-player responsive-img' %>
		<%= image_tag 'hangman/R/hangman1', :id => 'RP1', :class => 'right-player responsive-img' %>
		<%= image_tag 'hangman/R/hangman2', :id => 'RP2', :class => 'right-player responsive-img' %>
		<%= image_tag 'hangman/R/hangman3', :id => 'RP3', :class => 'right-player responsive-img' %>
		<%= image_tag 'hangman/R/hangman4', :id => 'RP4', :class => 'right-player responsive-img' %>
		<%= image_tag 'hangman/R/hangman5', :id => 'RP5', :class => 'right-player responsive-img' %>
	</div>

</div>
<div class="row board-lower board-lower">
	<div class="col s4 offset-s4 center word">
		<div class="row">
			<h4 class="white-text" id="letters-to-guess">
			</h4>
		</div>
	</div>

</div>





<script type="text/javascript">

	p1Win = false;
	p1Loss = false;
	p2Win = false;
	p2Loss = false;
	wID = -1;

	$(document).ready(function () {

		//As soon as the page starts
		$("#dim").hide();
		get_game();
		//begin grabbing the game state every 30 seconds
		var game_state = setInterval(function() { get_game() }, 5000);

		/**
		 * Get the correct or incorrect letters
		 * @param  bool is to toggle between correct/incorrect array
		 * @return Array
		 */
		function getLetters(bool){
			if(bool){
				return JSON.parse(localStorage.getItem('CSE3901_correct_letters') || "[]");
			} else {
				return JSON.parse(localStorage.getItem('CSE3901_incorrect_letters') || "[]");
			}
		}

		/**
		 * This sets the correct/incorrect letter arrays
		 * @param boolean bool  toggle between correct/incorrect
		 * @param object array the object we are setting in storage
		 */
		function setLetters(bool, array) {
			if(bool){
				localStorage.setItem('CSE3901_correct_letters', JSON.stringify(array));
			} else {
				localStorage.setItem('CSE3901_incorrect_letters', JSON.stringify(array));
			}
		}

		/**
		 * Set the game state in storage
		 * @param JSON game object
		 */
		function setGameStorage (game) {
			localStorage.setItem('CSE3901_game', JSON.stringify(game));
		}

		/**
		 * Get the game object
		 * @return JSON game object
		 */
		function getGameStorage (){
			return JSON.parse(localStorage.getItem('CSE3901_game')) || {};
		}

		/**
		 * Add a letter to either correct or incorrect array
		 * @param letter String
		 * @param bool 	boolean to toggle between correct and incorrect
		 */
		function addLetter(bool, letter){
			var letters = getLetters(bool);
			if(bool){
				//put it in correct array
				letters.push(letter);
				setLetters(true, letters);
				console.log('correct letter!')
			} else {
				//put it in incorrect array
				letters.push(letter);
				setLetters(false, letters);
				console.log('incorrect letter!!');
			}
			console.log(getLetters(bool));
		}

		/**
		 * Grab the current game word.
		 * @return String
		 */
		function getWord() {
			return JSON.parse(localStorage.getItem('CSE3901_game')).word || "";
		}

		/**
		 * Checks if user has won or lost
		 * @return integer: 1 => win, 0 => loss, 2 => neither 
		 */
		function checkWinLoss () {
			var target_word = getWord();
			var correct_letters = getLetters(true);
			var incorrect_letters = getLetters(false);

			if(correct_letters.length == target_word.length){
				return 1;
			} else if(incorrect_letters.length >= 5) {
				return 0;
			} else {
				return 2;
			}
		}

		/**
		 * Check if the letter is in the word to be guessed
		 * and if they won/lost neither
		 * @return boolean
		 */
		function handleLetter(letter) {
			var word = getWord();
			var count = 0;
			for(var i = 0; i < word.length; i++){
				if(word[i] == letter){
					count++;
				}
			}

			//see if they guessed the word correctly or not
			if(count == 0) {
			   	addLetter(false, letter);
			} else {
				for(var i = 0; i < count; i++){
					addLetter(true, letter);
				}
			}

			//find the letter they just guessed and permanently disable it
			$('.letter').each(function () {
				if($(this).data('letter') == letter){
					$(this).addClass('used-letter');
				}
			});

			//check hte status of the game
			var game_status = checkWinLoss();

			//send data back to server
			send_data(game_status);
		}

		/**
		 * This method handles a letter click.
		 */
		$('.letter').click(function (e) {
			if($(this).hasClass('used-letter') || $(this).hasClass('wait-turn')){
				e.preventDefault();
				return false;
			}
			var letter = $(this).data('letter');
			handleLetter(letter);
		});

		/**
		 * This method gets the game state.
		 * @return data
		 */
		function get_game(){
			$.ajax({
				type:'GET',
				url: 'http://localhost:3000/run-game',
				data: {
					id: <%= @game.id %>
				},
				dataType: 'JSON',
				success: function (data){
					console.log('in get data return');
					console.log(data);
					setGameStorage(data);
					drawGuessedLetters();
					drawSticks();
					//if current user is first user and it is their turn
					if(<%= current_user.id %> == data.first_user_id && data.turn == 0){
						//unlock the board
						switch_turn(true);
					} else if(<%= current_user.id %> == data.second_user_id && data.turn == 1) {
						//if current user is second user and it is their turn
						//unlock the board
						switch_turn(true);
					} else if (data.game_over) {
						stopGame();
					} else if (<%= current_user.id %> == data.first_user_id && data.turn == 1) {
						switch_turn(false);
					} else if(<%= current_user.id %> == data.second_user_id && data.turn == 0) {
						switch_turn(false);
					}
				},
				error: function (err) {
					console.log(err);
				}
			})
		}

		/**
		 * Send data back as post to server
		 * @param  game status
		 * @return nothing
		 */
		function send_data (game_status) {
			var game = getGameStorage();
			var correct_letters = getLetters(true);
			var incorrect_letters = getLetters(false);
			drawSticks();
			if (game.first_user_id == <%= @current_user.id %>) {
				game.first_user_misses = incorrect_letters.length;
				//check if the first user just won or lost
				if(game_status == 1){
					game.game_over = true;
					p1Win = true;
					wID = <%= @current_user.id %>;
					game.winner = <%= @current_user.id %>;
					setGameStorage(post(game));
					stopGame();
				} else if(game_status == 0) {
					game.game_over = true;
					p1Loss = true;
					game.winner = game.second_user_id;
					setGameStorage(post(game));
					stopGame();
				} else {
					switch_turn(false);
					setGameStorage(post(game));
				}
			} else {
				game.second_user_misses = incorrect_letters.length;
				//check if the second user just won or lost
				if(game_status == 1){
					game.game_over = true;
					p2Win = true;
					wID = <%= @current_user.id %>;
					game.winner = <%= @current_user.id %>;
					setGameStorage(post(game));
					stopGame();
				} else if(game_status == 0) {
					game.game_over = true;
					p2Loss = true;
					game.winner = game.first_user_id;
					setGameStorage(post(game));
					stopGame();
				} else {
					switch_turn(false);
					setGameStorage(post(game));
				}
			}
		}

		/**
		 * This method sends a post back to the server.
		 * @param  the game object
		 */
		function post (data) {
			$.ajax({
				type:'POST',
				url: 'http://localhost:3000/run-game',
				data: data,
				dataType: 'JSON',
				success: function (data){
					console.log('post return data...');
					console.log(data);
					setGameStorage(data);
					drawSticks();
					drawGuessedLetters();
					return data;
				},
				error: function (err) {
					console.log(err);
				}
			});
		}

		/**
		 * This method stops the update game method
		 */
		function stopGame () {
			console.log('stopping the game :)');
			clearInterval(game_state);
			setGameStorage({});
			setLetters(true, []);
			setLetters(false, []);
			$('.letter').each(function () {
				$(this).addClass('wait-turn');
			});
			notifyResult();
		}

		function drawSticks () {
			//drawing the stick figures
			var game = getGameStorage();
			if(game.first_user_misses == 0){
				$("#LP0").show();
			} else {
				$("#LP0").hide();
			}

			if(game.first_user_misses == 1){
				$("#LP1").show();
			} else {
				$("#LP1").hide();
			}

			if(game.first_user_misses == 2){
				$("#LP2").show();
			} else {
				$("#LP2").hide();
			}

			if(game.first_user_misses == 3){
				$("#LP3").show();
			} else {
				$("#LP3").hide();
			}

			if(game.first_user_misses == 4){
				$("#LP4").show();
			} else {
				$("#LP4").hide();
			}
			if(game.first_user_misses == 5){
				$("#LP5").show();
			} else {
				$("#LP5").hide();
			}

			if(game.second_user_misses == 0){
				$("#RP0").show();
			} else {
				$("#RP0").hide();
			}

			if(game.second_user_misses == 1){
				$("#RP1").show();
			} else {
				$("#RP1").hide();
			}

			if(game.second_user_misses == 2){
				$("#RP2").show();
			} else {
				$("#RP2").hide();
			}

			if(game.second_user_misses == 3){
				$("#RP3").show();
			} else {
				$("#RP3").hide();
			}

			if(game.second_user_misses == 4){
				$("#RP4").show();
			} else {
				$("#RP4").hide();
			}
			if(game.second_user_misses == 5){
				$("#RP5").show();
			} else {
				$("#RP5").hide();
			}
		}

		/**
		 * This method handles redrawing the currently correctly guessed letters at the bottom
		 */
		function drawGuessedLetters () {
			var word = getWord();
			var wrapper = $('#letters-to-guess');
			wrapper.empty();
			var correct_letters = getLetters(true);
			for(var i = 0; i < word.length; i++){
				var current_letter = word[i];
				var found = false;
				for(var j = 0; j < correct_letters.length; j++){
					if (current_letter == correct_letters[j]){
						found = true;
						break;
					}
				}
				var letter = $('<div></div>').addClass('letter-guessed');
				if(found){
					letter.text(current_letter);
				} else {
					letter.html("&nbsp;&nbsp;");
				}
				wrapper.append(letter);
			}
		}

		/**
		 * This method switches the turn from first to second or second to first
		 * @param  boolean check use this variable to toggle the user
		 */
		function switch_turn (check) {
			if(check){
				console.log('UNDISABLING THE BUTTON');
				$('.letter').each(function () {
					$(this).removeClass('wait-turn');
				});
			} else {
				console.log('DISABLING THE BUTTON');
				$('.letter').each(function () {
					$(this).addClass('wait-turn');
				});
			}
		}

		/**
		 * This method displays results of game for each user
		 */
		function notifyResult(){

			$("#dim").fadeIn(4000);
			$(".you-lose").hide();
			$(".you-win").hide();
			$(".mys-wrd").hide();
			if(wID == <%= @current_user.id %>){
				$(".you-win").show();
				if(!p1Loss && !p2Loss){
					$(".mys-wrd").show();
				}
			} else {
				$(".you-lose").show();
			}
		}
	});
</script>